<p>
  Desenvolvi trabalhos autônomos relacionados à Tecnologia da Informação especificamente na área de montagem e manutenção de microcomputadores e periféricos 
  (hardware e software). Como exemplo de trabalhos executados estão a montagem das peças placa mãe, processadores, fontes, instalação dos softwares Windows (10,7,8),
   Ubuntu, formatação, configuração dos mesmos, já fiz trabalhos de montagem e instalação de computadores assim como formatação, conheço e sei configurar softwares Linux,
    mas, possuo um conhecimento mais avançado sobre Windows.
</p>
